@tailwind base;
@tailwind components;
@tailwind utilities;
/* Example for Tailwind CSS */
.dark {
    --bg-color: #1a202c; /* Dark background color */
    --text-color: #f7fafc; /* Light text color */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";